header {
    color: rgb(255, 255, 255);
    background-color: rgb(253, 172, 172);
    text-align: center;
    font-size: 2.5em;
    font-family: 'Playfair Display';
    margin: 0;
    padding: 8px 0;
}

header h1 {
    margin: 0;
}

body {
    background-color: rgb(248, 237, 219);
    margin: 0;
}

figcaption {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat';
    background-color: #4a3a32;
}

.table_text {
    font-family: 'Montserrat';
    font-size: 120%;
    margin: 20px;
    color: #4a3a32;
    margin: 0 auto;
}

#divDegree {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Montserrat';
}

.intro_text {
    font-family: 'Montserrat';
    font-size: 120%;
    margin: 20px;
    text-align: center;
    color: #4a3a32;
}

footer {
    background-color: rgb(253, 172, 172);
    padding: 10px 0;
}

.footer_text {
    font-family: 'Times New Roman ', serif;
    font-size: 0.65em;
    color: #6b6b6b;
    text-align: center;
}

footer img {
    display: block;
    margin: 10px auto 0 auto;
}


.navigation_bar {
    padding: 12px;
    text-align: center;
    background-color: rgb(255, 205, 201);

}

.navigation_button {
    display: inline-block;
    padding: 8px 12px;
    background-color: rgb(253, 121, 121);
    font-weight: bold;
    border-radius: 60px;
    text-decoration: none;
    font-family: 'Montserrat';
    margin-right: 10px;
    color: rgb(252, 252, 252);

}

.navigation_button:hover {
    background-color: rgb(255, 160, 160);
    transform: scale(1.2);
    border: 2px solid rgb(255, 255, 255);

}

.navigation_button.active {
    border: 4px solid rgb(255, 255, 255);
}

#center_google_form {
    display: flex;
    justify-content: center;
    align-items: center;
}


hr {
    border: 0;
    height: 4px;
    background: #4a3a32;
    margin: 0;
}