.container {
    width: 100%;
    margin: 0 auto;
  }

  body {
    background-color: #0b1020;
    margin: 0;
    padding-bottom: 40px;
}

.site_title {
    color: #eef2ff;
    text-align: center;
    font-size: 3.2em;
    font-family: 'Playfair Display';
}

.section_text {
    font-size: 1.3em;
    margin: 20px;
    text-align: left;
    color: #b8c0ff;
}

.section_header{
    font-size: 1.6em;
    margin: 20px;
    text-align: left;
    color: #eef2ff;

}

.section_sources {
    font-size: 1.3em;
    margin: 20px;
    text-align: left;
    color: #eef2ff;

}

.section_sources a {
    color: #7cffd1;
  }
  

figcaption {
    text-align: center;
    font-size: 0.5em;
    color: #eef2ff;
    font-family: 'Montserrat';
}

.figure_img_home {
    width: 60%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }

.figure_img_subpage {
    width: 20%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  

.nav-links a {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid var(--border);
    border-radius: 10px;
    text-decoration: none;
  }

  .footer_text {
    font-family: 'Times New Roman', serif;
    font-size: 0.65em;
    color: #b8c0ff;
    text-align: center;
    margin: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #141b33;
    padding: 8px 0;
  }

  
  

.site_description {
    margin: 0 0 14px;
    font-size: 0.98rem;
    color: #eef2ff;
    text-align: center;
  }

  .navigation_bar {
    display: flex;             
    justify-content: center;   
    align-items: center;        
    gap: 12px;                  
    padding: 12px;
    background-color: #141b33;
    flex-wrap: wrap;

}

.navigation_button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #b8c0ff;
    font-weight: bold;
    border-radius: 60px;
    text-decoration: none;
    font-family: 'Montserrat';
    color: rgb(252, 252, 252);

}

.navigation_button:hover {
    background-color: #7aa2ff;
    transform: scale(1.2);
    border: 2px solid rgba(255,255,255,0.12);

}

.navigation_button.active {
    border: 4px solid rgb(255, 255, 255);
}